<% page.posts.each(function(item){ %>
  <%- partial('_partial/article', {item: item, index: true}) %>
<% }); %>

<nav id="page-nav" class="clearfix archive-nav">
    <%- paginator({
      prev_text: '&laquo;',
      next_text: '&raquo;'
    }) %>
</nav>