<section class="layout-wrap">
  <div class="layout-title">
    <h2>共计<%= site.categories .length %>个分类</h2>
  </div>
  <div class="layout-wrap-inner">
     <% if(site.categories.length) { %>
      <%- list_categories(site.categories) %>
    <% } %>
  </div>
</section>